*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	/* font-size: 62.5%; */
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kumbh Sans", sans-serif;
	height: 100%;
}

a,
a:visited,
a:link {
	/* code here */
	text-decoration: underline;
}

.container {
	max-width: 70rem;
	padding: 0 2rem;
	margin: 0 auto;
}

button {
	cursor: pointer;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.navigation {
	display: flex;
	align-items: center;
	border-bottom: 2px solid hsl(223, 64%, 98%);
}

.navigation__links > a {
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
	color: hsl(219, 9%, 45%);
	vertical-align: middle;
	border-bottom: 3px solid transparent;
	padding: 30px 0;
}
.navigation__links > a:hover {
	color: rgb(32, 32, 32);
	border-bottom: 3px solid hsl(26, 100%, 55%);
}
.navigation__logo {
	margin-right: 40px;
}
.profile_pic {
	width: 42px;
}
.navigation__right {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 50px;
}
.navigation__cart {
	position: relative;
	background: none;
	border: none;
}
.navigation__cart::after {
	content: attr(data-amount);
	position: absolute;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color:hsl(0, 0%, 100%);
	background-color: hsl(26, 100%, 55%);
	top:-12px;
	right:-13px;
	font-weight: 700;
}
.navigation__cart_wrapper {
	position: relative;
}

.main {
	padding-top: 80px;
}
.product {
	display: flex;
	padding: 0 20px;
	gap: 80px;
	justify-content: center;
}
.product__display {
	position: relative;
	flex: 0 0 40%;
}
.product .product_main_image {
	width: 90%;
	border-radius: 10px;
}

.product__description {
	padding-top: 50px;
	padding-right: 12%;
}
.small_title {
	color: hsl(26, 100%, 55%);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 14px;
}
.product_title {
	font-size: 36px;
}
.product_text {
	line-height: 1.6;
}

.mb-sm {
	margin-bottom: 20px;
}
.mb-md {
	margin-bottom: 25px;
}
.product_pricing_info {
	display: flex;
	align-items: center;
}
.product__price {
	font-weight: 700;
	font-size: 28px;
	margin-right: 10px;
}
.product_discount {
	padding: 2px 4px;
	border-radius: 4px;
	background-color: hsl(25, 100%, 94%);
	color: hsl(26, 100%, 55%);
	font-weight: 700;
}
.product__cta {
	display: flex;
	margin-top: 30px;
	gap: 20px;
}
.product_previous_price {
	text-decoration: line-through;
	color: hsl(220, 14%, 75%);
	font-weight: 700;
}
.btn_amount_controls {
	background: hsl(223, 64%, 98%);
	border-radius: 10px;
}
.btn_minus {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
}
.btn_minus,
.btn_plus {
	padding: 0px 14px;
	font-size: 36px;
	background: transparent;
}
.btn_plus {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
}
.item__amount {
	display: inline-block;
	background: transparent;
	position: relative;
	text-align: center;
	top: -4px;
	font-weight: 700;
	min-width: 60px;
}
.btn_minus svg,
.btn_plus svg {
	vertical-align: middle;
}

.btn_add_cart,
.btn_checkout {
	padding: 16px 60px;
	border-radius: 8px;
	border: none;
	background: hsl(26, 100%, 55%);
	color: hsl(0, 0%, 100%);
	box-shadow: 0px 22px 32px -17px hsl(26, 100%, 55%);
	transition: all 0.1s;
	font-weight: 700;
}

.btn_checkout {
	width: 100%;
	box-shadow: none !important;
}

.btn_add_cart:hover,
.btn_checkout:hover {
	opacity: 0.6;
}
.btn_add_cart span {
	font-weight: 700;
	color: currentColor;
	vertical-align: middle;
}

.btn_add_cart svg {
	fill: currentColor;
	vertical-align: middle;
	margin-right: 10px;
}

.attribution {
	margin-top: 300px;
	padding-bottom: 100px;
	font-size: 20px;
}

.product_thumbnail_images {
	margin-top: 20px;
	display: flex;
	width: 90%;
	justify-content: space-between;
}
.product_thumbnail_image {
	flex: 0 0 22%;
	border: none;
	border-radius: 10px;
	border-width: 2px;
	overflow: hidden;
}
.product_thumbnail_image > img {
	display: block;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: all 0.1s linear;
}
.product_thumbnail_image.active {
	border: 2px solid hsl(26, 100%, 55%);
}
.product_thumbnail_image.active > img,
.product_thumbnail_image:hover > img {
	opacity: 0.4;
}

/* Cart */

.cart {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}

.cart.active {
	display: block;
	visibility: visible;
	opacity: 1;
	transition: all 0.2s ease-in;
	top: 45px;
	left: -50px;
	background-color: hsl(0, 0%, 100%);
	z-index: 999999;
	min-width: 320px;
	min-height: 200px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
}
.cart_products_container {
	padding: 20px 0;
}
.cart_title {
	padding: 20px 15px;
	font-weight: 700;
	border-bottom: 1px solid hsl(240, 3%, 85%);
}
.cart_product_title {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}
.cart_product {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.product_image {
	width: 44px;
	border-radius: 7px;
	margin-right: 15px;
}
.btn_remove {
	background: none;
	border: none;
	fill: hsl(220, 14%, 75%);
}
.cart_product_description {
	color: hsl(219, 9%, 45%);
	line-height: 1.6;
	flex-grow: 1;
}
.product_total {
	font-weight: 700;
	color: black;
}

.text_center {
	text-align: center;
}
.product .product_main_image {
	cursor: zoom-in;
}

.product_modal {
	position: fixed;
	transform: translateY(-999999px);
	opacity: 0;
	visibility: hidden;
	z-index: 999999999;
}

.product_modal.active {
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
	inset: 0;
	width: 100%;
	min-height: 100vh;
	background-color: hsla(0, 0%, 0%, 0.832);
}

/* Modal */

.modal_content {
	display: flex;
	position: relative;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-top: 100px;
}

.modal_content .product_main_image {
	flex: 0 0 50%;
	height: 450px;
	border-radius: 10px;
}
.modal_content .product_thumbnail_images {
	justify-content: center;
	gap: 20px;
	margin: 0 auto;
	margin-top: 30px;
}
.btn_dismiss_modal {
	position: absolute;
	right: 27%;
	top: -6%;
	background: transparent;
	border: none;
	fill: hsl(0, 0%, 100%);
	transform: scale(1.4);
}

.product__controls {
	display: none;
}

.product_previous_image {
	position: absolute;
	z-index: 999999;
	top: 40%;
	transform: translateY(-50%);
	left: -20px;
}
.product_next_image {
	position: absolute;
	z-index: 999999;
	top: 40%;
	transform: translateY(-50%);
	right: -22px;
}
.product_previous_image,
.product_next_image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: none;
}
.modal_content .product__controls.modal_open {
	display: block;
}
}